app-banner {
  div.app-banner {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h1,
    h2,
    h3 {
      padding: 0;
      margin: 0;
    }
  }
}
