ion-card-content > p {
	line-height: 1.75;
	font-size: 14px;
	color: #666;
}
ion-card-content > h2 {
	padding: 6px 0;
	font-weight: bold;
	color: #666;
}
ion-list > ion-item > p {
	display: flex;
	flex-direction: row;
	align-content: center;
	ion-icon {
		font-size: 26px;
	}
	span {
		color: #666;
		padding-left: 8px;
	}
}
