<ion-content no-padding>
  <app-header></app-header>
  <ion-card no-margin>
    <ion-card-content padding>
      <p>
        CoreNet Global is the premier association for corporate real estate professionals, and the only one capable of convening the entire industry. We have over 10,000 members around the world; this is where your colleagues, partners, competitors and future employers come together to share ideas, do business, learn and socialize.
      </p>
      <br>
      <h2>Our Mission</h2>
      <p>
        CoreNet Global exists to convene the entire corporate real estate industry. Our vision is to be a dynamic, fully developed global network of professionals who create strategic value for their enterprises. We are focused on helping our members make connections and learn, and in doing so our members will grow; this results in a true sense of belonging.
      </p>
      <br>
      <h2>Contact Us</h2>
      <ion-list no-padding no-margin lines="none">
        <ion-item no-padding no-margin>
          <p>
            <ion-icon slot="start" color="medium" name="md-pin"></ion-icon>
            <a style="text-decoration: none; color: #666;padding-left: 10px;" (click)="externalRedirect('https://goo.gl/maps/tvRnAZh1Gv62')">
              CoreNet Global | New York City Chapter<br>
              380 Lexington Avenue<br>
              Suite 1920<br>
              New York, NY 10168
            </a>
          </p>
        </ion-item>
        <ion-item no-padding no-margin>
          <p>
            <ion-icon slot="start" color="medium" name="md-call"></ion-icon>
            <a style="text-decoration: none; color: #666;padding-left: 10px;" href="tel:2124507300">212.450.7300</a>
          </p>
        </ion-item>
        <ion-item no-padding no-margin>
          <p>
            <ion-icon slot="start" color="medium" name="md-print"></ion-icon>
            <a style="text-decoration: none; color: #666;padding-left: 10px;">212.450.7301</a>
          </p>
        </ion-item>
        <ion-item no-padding no-margin>
          <p>
            <ion-icon slot="start" color="medium" name="md-mail"></ion-icon>
            <a style="text-decoration: none; color: #666;padding-left: 10px;" target="_top" (click)="externalRedirect('mailto:info@corenetglobalnyc.org')">info@corenetglobalnyc.org</a>
          </p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
