<ion-header no-padding no-margin>
  <!-- <app-settings-fab></app-settings-fab> -->
  <div
    padding-top
    padding-bottom
    align-self-stretch
    text-center
    [style.background]="headerColor"
  >
    <app-logo no-padding [width]="logoWidth"></app-logo>
  </div>
  <app-banner
    no-padding
    [width]="bannerWidth"
    [resource]="headerImage"
    [title]="headerTitle"
  ></app-banner>
</ion-header>
