<ion-content no-padding>
  <app-header></app-header>
  <ion-card-content padding>
    <p>
      CoreNet offers several ways for members to stay connected to the latest
      trends and news as it relates to corporate real estate (CRE). Make sure you
      visit these sections our website to take advantage of all the offerings that
      are made available as part of your membership.
    </p>
  </ion-card-content>
  <hr style="border-top: 1px solid #666;width: 100%">
  <ion-list>
    <app-item *ngFor="let item of items" [title]="item.title" [url]="item.url" [icon]="item.icon"></app-item>
  </ion-list>
</ion-content>
