<ion-content class="login-page">
  <app-logo padding="44" width="80"></app-logo>
  <ion-card
    padding
    [style.margin.px]="33"
    style="background: white;"
    align-self-stretch
    text-center
  >
    <ion-card-title>LOGIN</ion-card-title>
    <ion-card-content padding>
      <ion-item no-padding no-margin>
        <ion-label position="floating">Username</ion-label>
        <ion-input required [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item no-padding no-margin>
        <ion-label position="floating" type="password">Password</ion-label>
        <ion-input required [(ngModel)]="password"></ion-input>
      </ion-item>
      <br />
    </ion-card-content>
    <div style="width:100%;margin: 22px 0;">
      <ion-button
        [disabled]="fetching"
        color="primary"
        style="width: 80%;"
        (click)="doLogin()"
        ><span style="margin: 0 12px;"
          >{{ fetching ? "Authenticating" : "Login"}}</span
        ><ion-spinner *ngIf="fetching"></ion-spinner>
      </ion-button>
    </div>
  </ion-card>
</ion-content>
