<ion-tabs #myTabs (ionChange)="myFunction()">
  <ion-tab-bar class="tabbar" slot="bottom">
    <ion-tab-button tab="home" (ionChange)="myFunction()" (ionSelect)="myFunction()">
      <ion-icon name="md-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="md-calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>
<!-- 
    <ion-tab-button tab="directory">
      <ion-icon name="md-contact"></ion-icon>
      <ion-label>Directory</ion-label>
    </ion-tab-button>
 -->
    <ion-tab-button tab="resources">
      <ion-icon name="md-book"></ion-icon>
      <ion-label>Resources</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="md-information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="md-settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
