<ion-content no-padding>
  <app-header></app-header>
  <ion-list>
    <ion-item no-padding no-margin>
      <div style="display: flex;flex-direction: row;padding:16px;justify-content: space-between;align-items: center;width:100%;">
        <ion-label style="color:#666;;font-size: 14px;">Enable notifications</ion-label>
        <ion-toggle checked></ion-toggle>
      </div>
    </ion-item>
    <ion-item no-padding no-margin>
      <div style="display: flex;flex-direction: row;padding:16px;justify-content: space-between;align-items: center;width:100%;">
        <ion-label style="color:#666;;font-size: 14px;">Remind me of events I'm attending</ion-label>
        <ion-toggle checked></ion-toggle>
      </div>
    </ion-item>
    <ion-item no-padding no-margin>
      <div style="display: flex;flex-direction: row;padding:16px;justify-content: space-between;align-items: center;width:100%;">
        <ion-label style="color:#666;;font-size: 14px;">Alert me of new events</ion-label>
        <ion-toggle checked></ion-toggle>
      </div>
    </ion-item>
  </ion-list>
  <div style="width:100%;text-align: center">
    <ion-button style="width:80%;">Edit Profile</ion-button>
  </div>
</ion-content>
