<ion-content no-padding>
  <app-header></app-header>
  <ion-card no-margin>
    <ion-card-content padding>
        <h1>Updating Your Mobile App</h1>
        <p>Once you’ve downloaded the CoreNet NYC app, you’ll be notified of new versions when available. If the app requires a critical update, you may need to update the app through the App Store or Google Play. You can continue to use the CoreNet NYC app once updated.</p>
        <br>
        <h1>Unable to Access</h1>
        <p>If you experience issues viewing text or graphics, first turn your device off and then on again. If the problem continues, try clearing out the internet cache. To learn how to clear the internet cache, check the manual for your device or contact your carrier for more information.</p>
        <br>
        <h1>Other Questions</h1>
        <p>For questions or more information regarding CoreNet NYC, please contact Chapter Administration at <a style="text-decoration: none; color: #666;" href="tel:2124507300">212.450.7300</a> or <a style="text-decoration: none; color: #666;" target="_top" (click)="externalRedirect('mailto:info@corenetglobalnyc.org')">info@corenetglobalnyc.org</a>.</p>
        <br>
      </ion-card-content>
  </ion-card>
</ion-content>
