<ion-item no-padding no-margin>
	<ion-row [style.width.%]="100" margin>
		<ion-col align-items-center>
			<ion-icon
				style="color:#3171e0;font-size:40px;"
				[name]="'md-'+icon"
			></ion-icon>
		</ion-col>
		<ion-col size="8">
			<div
				style="color:#666;display: flex;height:100%;align-items: center"
			>
				<span>{{ title }}</span>
			</div>
		</ion-col>
		<ion-col>
			<div
				style="display: flex;height:100%;align-items: center"
			>
				<a float-right href="#" (click)="openLink()">
					<ion-icon
						style="color:#3171e0;font-size:32px;"
						name="md-open"
					></ion-icon>
				</a>
			</div>
		</ion-col>
	</ion-row>
</ion-item>
