<ion-content no-padding>
	<app-header></app-header>
	<div class="flex-col item">
		<div>
			<div class="event-committee condensed" [style.color]="color">
				<strong>{{item?.committee}}:</strong>
			</div>
			<div class="event-title"><strong>{{item?.title}}</strong></div>
		</div>
		<div>
			<div class="event-info">
				<ion-icon
					class="icon"
					[style.color]="color"
					name="md-calendar"
				></ion-icon>
				<p>{{ date?.toDateString() }}</p>
			</div>
			<div class="event-info">
				<ion-icon class="icon" [style.color]="color" name="md-pin"></ion-icon>
				<div>
					<p *ngFor="let line of address">{{ line }}</p>
				</div>
			</div>
			<div [style.width.%]="100" text-center>
				<ion-button
					style="margin:44px auto;width:75%"
					(click)="externalRedirect()"
					color="primary"
					>Register</ion-button
				>
			</div>
		</div>
	</div>
</ion-content>
