.condensed {
	letter-spacing: -1px;
	text-transform: uppercase;
}
.flex-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.flex-col {
	display: flex;
	flex-direction: column;
	// justify-content: center;
}
.item {
	color: #666;
	padding: 28px;
	margin-top: 10px;
	.event-committee {
		font-size: 22px;
	}
	.event-title {
		color: #808080;
		font-size: 26px;
		padding-bottom: 10px;
	}
	.event-info {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 8px 0;
		margin: 0;
		p {
			padding: 0;
			margin: 0;
			line-height: 1.5;
		}
	}
}
.icon {
	font-size: 28px;
	margin-right: 16px;
}
