// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content.login-page {
  --background: url("./assets/image/background/Blue_Background_DiamondTexture.jpg");
  --background-size: contain;
}
ion-content.home-page {
  --background: url("./assets/image/background/Blue_Background_DiamondTexture.jpg");
  --background-size: contain;
}
ion-fab-button {
  --background: transparent;
  --box-shadow: none;
}
app-home {
  ion-card-content {
    --background: transparent;
    text-align: center;
    color: #fff;
    ion-card-header {
      margin: 66px 0 33px 0;
      padding: 0px;
    }
    ion-row {
      padding-top: 33px;
      a {
        color: #fff;
      }
    }
  }
}
ion-content {
  color: #666;
}
// ion-button.page-button-component {
//   width: 100%;
//   margin: 44px 0;
//   padding: 22px ;
//   span {
//   }
// }
// ion-item.page-item-component {
// }
