<ion-content no-padding>
	<app-header></app-header>
	<div padding >
		<ion-item no-padding no-margin style="color:#666">
			<ion-label position="floating">First Name</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item no-padding no-margin style="color:#666">
			<ion-label position="floating">Last Name</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item no-padding no-margin style="color:#666">
			<ion-label position="floating">Company</ion-label>
			<ion-input></ion-input>
		</ion-item>
		<ion-item no-padding no-margin style="color:#666">
			<ion-label position="floating">Email</ion-label>
			<ion-input></ion-input>
		</ion-item>
	</div>
	<div text-center padding [style.width.%]="100">
		<ion-button
			[style.width.%]="80"
			[style.font-size.px]="22"
			color="primary"
			>Search</ion-button
		>
	</div>
	<hr style="border-top: 1px solid #666;width: 100%">
	<ion-list>
		<app-item *ngFor="let item of items" [item]="item"></app-item>
	</ion-list>
</ion-content>
