<ion-item no-padding no-margin>
  <ion-row [style.width.%]="100" margin>
    <ion-col>
      <div
        style="display: flex;flex-direction: row;align-items: center;width:100%;height:100%"
      >
        <span style="color:#666">{{ title }}</span>
      </div>
    </ion-col>
    <ion-col size="2">
      <a float-right (click)="routePage()">
        <ion-icon style="font-size: 32px;" [name]="'md-'+icon"></ion-icon>
      </a>
    </ion-col>
  </ion-row>
</ion-item>
