<ion-content class="home-page">
  <app-logo padding="77" width="80"></app-logo>
  <ion-grid padding text-center>
    <ion-row padding-top>
      <ion-col>
        <a (click)="redirectTo('tabs/calendar')">
          <div>
            <img
              src="http://blasts.bermangrp.com/corenet-mobile-app/src/assets/icon/svg/ic_event_24px.svg"
              width="40%"
            />
            <br />
            <br />
            <span style="font-size: 16px;color:white;"><strong>Event<br />Calendar</strong></span>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a (click)="redirectTo('tabs/resources')">
          <div>
            <img
              src="http://blasts.bermangrp.com/corenet-mobile-app/src/assets/icon/svg/ic_import_contacts_24px.svg"
              width="40%"
            />
            <br />
            <br />
            <br />
            <span style="font-size: 16px;color:white;"><strong>Member<br />Resources</strong></span>
          </div>
        </a>
      </ion-col>
    </ion-row>
    <ion-row padding-top margin-top>
      <ion-col>
        <a (click)="redirectTo('tabs/about')">
          <div>
            <img
              src="http://blasts.bermangrp.com/corenet-mobile-app/src/assets/icon/svg/ic_announcement_24px.svg"
              width="40%"
            />
            <br />
            <br />
            <span style="font-size: 16px;color:white;"><strong>About</strong></span>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a (click)="redirectTo('tabs/settings')">
          <div>
            <img
              src="http://blasts.bermangrp.com/corenet-mobile-app/src/assets/icon/svg/ic_settings_24px.svg"
              width="40%"
            />
            <br />
            <br />
            <span style="font-size: 16px;color:white;"><strong>Settings</strong></span>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <app-tabs-fab></app-tabs-fab> -->
</ion-content>
