<ion-content no-padding>
  <app-header></app-header>
  <ion-list>
    <app-item *ngFor="let item of items" [title]="item.title" [page]="item.page" [icon]="item.icon"></app-item>
  </ion-list>
</ion-content>
